@using Entities.Component
@typeparam T


<div class='wrapper @(IsDropdownOpen ? "active": "") @ClassName'>
    <div class='form-control select-btn position-relative'>
        <div class="position-absolute top-0 start-0 h-100 w-100 z-1"
             @onclick="@(()=>{IsDropdownOpen = !IsDropdownOpen;})"></div>
        <div class="w-100 row gx-2 me-2">
            @if (EnableMultipleSelection)
            {
                @if (SelectedItems.Any())
                {
                    foreach (var item in SelectedItems)
                    {
                        <div style="width: fit-content; z-index: 10">
                            <p class="selected-item-text">
                                <span>@FindItemText(item.Id)</span>
                                <span @onclick="@(e => ToggleSelection(item))"><i class="bi bi-x"></i></span>
                            </p>
                        </div>
                    }
                }
                else
                {
                    <span>- Select @Label -</span>
                }
            }
            else
            {
                @if (SelectedItems.Any())
                {
                    <p style="margin: 0;">
                        <span>@FindItemText(SelectedItems[0].Id)</span>
                    </p>
                }
                else
                {
                    <span>- Select @Label -</span>
                }
            }
        </div>
        <i class="bi bi-chevron-down"></i>
    </div>
    <div class='content-dropdownlist @(IsDropdownOpen ? "d-block": "d-none")'>
        @if (HasSearch)
        {
            <div class="search">
                <i class="bi bi-search"></i>
                <input spellcheck="false" type="text" placeholder="Search" class="form-control" value="@Search"
                       @oninput="UpdateSearchResults">
            </div>
        }
        <ul class="options">
            @foreach (var item in FilteredDataSource)
            {
                <li @onclick="@(e => ToggleSelection(item))" class="@(IsItemSelected(item) ? "selected" : "")">
                    @item.Text
                </li>
            }
        </ul>
        <p style='margin-top: 10px; @(!FilteredDataSource.Any() ? "": "display: none")'>
            Oops! @Label not found
        </p>
    </div>
</div>
